<div>
    <form>
        <h1>Selecione uma forma de pagamento:</h1>
        <label for="pix">Pix</label>
        <input id="pix" type="radio" value="Pix" (click)="openPaymentMethod('p')">

        <label for="credit-card">Cartão de crédito</label>
        <input id="credit-card" type="radio" value="Cartão de crédito" (click)="openPaymentMethod('c')">
    </form>

    <div *ngIf="pixSelected === true">
        <h1>Use o QR Code para pagar com Pix!</h1>
        <img
        class="qr-code"
        src="../../../assets/QRcode.png">

        <button type="submit" (click)="onSubmit()">Continuar</button>
    </div>

    <form [formGroup]="creditCardInfoForm" *ngIf="creditCardSelected === true">
        <h1>Insira os dados do cartão:</h1>

        <label for="cardNumber">Número do cartão:</label>
        <input id="cardNumber" type="text" value="cardNumber" formControlName="cardNumber">

        <label for="cardExpiresAt">Válido até:</label>
        <input id="cardExpiresAt" type="text" value="cardExpiresAt" formControlName="cardExpiresAt">

        <label for="CVV">CVV (Código de segurança)</label>
        <input id="CVV" type="text" value="CVV" formControlName="CVV">

        <label for="cardOwner">Nome impresso no cartão: </label>
        <input id="cardOwner" type="text" value="cardOwner" formControlName="cardOwner">

        <button type="submit" (click)="onSubmit()">Continuar</button>
    </form>
</div>
