<div class="app-header" color="primary">
  <h1 class="app-header-title">Umbanda do Brasil</h1>
  <div class="header-loggedOut-buttons" *ngIf="!isLoggedIn()">        
    <button class="header-button">Entrar</button>
    <button class="header-button">Cadastre-se</button>        
  </div>
  
  <p class="header-loggedIn-buttons" *ngIf="isLoggedIn()">
    <button class="header-button" routerLink="products">Loja</button>
    <button class="header-button" routerLink="cart">Ver carrinho</button>
    <button class="header-button" routerLink="register/product">Adicionar produto</button>
    <button class="header-button" (click)="logOut()">Sair</button>
  </p>
</div> 


<router-outlet></router-outlet>