.products-container {    
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    min-height: 50%;
}

mat-card {
    display: inline-block;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin-right: 10px;
}

.card-body {
    background-color: white;
    display: inline-block;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin-right: 10px;
}

.product-image-container {    
    width: 100%;
    margin-left: 25%;
    margin-right: 25%;
}

.product-image {
    width: 100%;
}